<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>系统首页-<%=gAppTitle%></title>
    <link rel="shortcut icon" href="/images/favicon.png">
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
  </head>
  <body>
    <div class="container">
    <div class="jumbotron">
    	<h2><strong><%=gAppTitle%></strong></h2>
    	<p>个人学习mongodb、node.js、express、bootstrap练习作品。随便玩玩。详细过程见<a href="/ejs/history">开发历史记录</a>。
    		<br/>开发时间：2014-3-26。
    	<p><a class="btn btn-primary btn-lg" role="button" href="/login">开始使用&raquo;</a></p>
    </div>
    
    </div> <!-- /container -->

  <script src='/javascripts/jquery-1.11.0.min.js'></script>
  <script src='/javascripts/bootstrap.min.js'></script>
  </body>
</html>