<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登出页面-<%=gAppTitle%></title>
    <link rel="shortcut icon" href="/images/favicon.png">
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
  </head>
  <body>
<div class="col-sm-6 col-sm-offset-3">
  
  	<div class="alert alert-info">
  		欢迎使用<a href="/" class="text-warning"><%=gAppTitle%></a>，您已经登出，欢迎下次访问。</a>。
  		<p class="text-right">by <a href="http://wallimn.iteye.com" class="text-danger">wallimn</a>, 2014-3-24</p>
  	</div>
  	
</div>


  <script src='/javascripts/jquery-1.11.0.min.js'></script>
  <script src='/javascripts/bootstrap.min.js'></script>
  </body>
</html>